<div class="cont-header">

	<!-- Menu -->
	<div class="container">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<!-- Logo -->
				<div class="brand_logo">
					<a href="<%= main_app.developer_index_url %>"><img src="/assets/developer/LOGO1.png" alt="gotoClassroom" width="90%"></a>
				</div>
				<!-- Logo end -->
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="<%= 'active' if params[:controller] == 'developer' && params[:action] == 'index' %>"><a href="<%= main_app.developer_index_url %>" title=""><i class="icon-home"></i> Home</a></li>
						<li class="dropdown <%= 'active' if params[:controller] == 'forem/forums' || params[:action] == 'document' || params[:action] == 'partners'  %>">
							<a title=""><i class="icon-coffee"></i> Developement</a>
							<ul class="dropdown-menu">
								<li><a href="<%= main_app.document_developer_index_url %>" title="API Document">API Document</a></li>
								<li><a href="<%= forem.forums_path %>" title="Developer Community">Developer Community</a></li>
							</ul>
						</li>
						<li class="<%= 'active' if params[:action] == 'blog' %>"><a href="<%= main_app.blog_developer_index_url%>" title=""><i class="icon-desktop"></i> Blog</a></li>
					</ul>
					<% if !current_user %>
					<ul class="nav pull-right">
						<li><a href="<%= main_app.new_user_session_path %>" title=""><i class="icon-lock"></i> Sign in</a></li>
					</ul>
					<% else %>
					<ul class="nav navbar-nav pull-right">
						<li class="dropdown active">
							<a title="" style="padding: 4px 10px 4px 4px;">
								<%= image_tag current_user.avatar(:thumb), :size => '40', :style=>"width: 63px;" %>
								<% if current_user.user_profile.name.blank? %>
									<%= truncate(current_user.email, :length => 30, :omission => "...") %>
								<% else %>
									<%= truncate(current_user.user_profile.name, :length => 30, :omission => "...") %>
								<% end %>
								$<%= (current_user.user_paypal != nil ? current_user.user_paypal.balance : 0) %>
							</a>
							<ul class="dropdown-menu">
								<li><a href="<%= main_app.app_list_developer_index_url %>" title=""><i class="icon-coffee"></i> Your Apps</a></li>
								<!-- <li><a href="earnings.html" title=""><i class="icon-money"></i> Earnings</a></li>
								<li><a href="statement.html" title=""><i class="icon-list-alt"></i> Statement</a></li> -->
								<li><a href="<%= main_app.edit_user_registration_path %>" title=""><i class="icon-edit-sign"></i> Change password</a></li>
								<li><a href="<%= main_app.edit_user_user_profile_path(current_user, current_user.user_profile.id) %>" title=""><i class="icon-edit-sign"></i> Edit profile</a></li>
								<li><%= link_to(raw('<i class="icon-off"></i> Logout'), main_app.destroy_user_session_path, method: :delete) %> </li>
							</ul>
						</li>
					</ul>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<!-- Menu end -->
</div>
