<script src="/assets/jquery.validate.js"></script>
<link rel="stylesheet" href="/assets/jquery.validate.bootstrap.popover.css" />
<script src='/assets/jquery.validate.bootstrap.popover.js'></script>

<nav class="navconer navbar-default" style="background:#f8f8f8;">
	<div class="container">
		<div class="navbar-header" style="float: left;">
			<h2 style="margin: 0;padding: 20px 0;">Show</h2>
		</div>
	</div>
</nav>

<div class="container lms-container">
	<% if !@lm.blank? %>
	<div class="form-horizont">
		<div class="brand-img">
			<%= image_tag @lm.brand.url %>
		</div>

		<div style="overflow: hidden;">
			<div class="form-group" id="field-style">
				<label class="span2 control-label" id="label-style">Name: </label>
				<div>&nbsp;<%= @lm.name %></div>
			</div>

			<div class="form-group" id="field-style">
				<label class="span2 control-label" id="label-style">Domain: </label>
				<div>&nbsp;<%= @lm.domain %></div>
			</div>

			<div class="form-group" id="field-style">
				<label class="span2 control-label" id="label-style">School name: </label>
				<div>&nbsp;<%= @lm.school_name %></div>
			</div>

			<div class="form-group" id="field-style">
				<label class="span2 control-label" id="label-style">School address: </label>
				<div>&nbsp;<%= @lm.school_address %></div>
			</div>

			<div class="form-group" id="field-style">
				<label class="span2 control-label" id="label-style">School telephone: </label>
				<div>&nbsp;<%= @lm.school_telephone %></div>
			</div>

			<div class="form-group" id="field-style">
				<label class="span2 control-label" id="label-style">School email: </label>
				<div>&nbsp;<%= @lm.school_email %></div>
			</div>

			<div class="form-group" id="field-style">
				<label class="span2 control-label" id="label-style">Admin email: </label>
				<div>&nbsp;<%= @lm.admin_email %></div>
			</div>

			<div class="form-group" id="field-style">
				<label class="span2 control-label" id="label-style">Admin name: </label>
				<div>&nbsp;<%= @lm.admin_name %></div>
			</div>

			<div class="form-group" id="field-style">
				<label class="span2 control-label" id="label-style">Principle name: </label>
				<div>&nbsp;<%= @lm.principle_name %></div>
			</div>

			<div class="form-group" id="field-style">
				<label class="span2 control-label" id="label-style">Access token: </label>
				<div>&nbsp;<b><%= @lm.access_token %></b></div>
			</div>

			<div class="form-group span" id="field-style">
				<%= link_to 'Edit', edit_lm_path(@lm),:class => "btn btn-info" %>
				<%= link_to "Delete", "javascript:;", :method => :delete, :url => lm_path(@lm), :class => "btn btn-danger lm-delete-btn" %>
				<%= link_to 'Back', lms_path, :class => "btn btn-default" %>
			</div>
		</div>

		<div class="import_csv_style"><h3 style="margin-bottom: 5px;">Import CSV File</h3></div>


		<div class="csv_form_upload" id="field-style">
			<div class="span6">
				<%= form_tag "", :multipart => true, :id => "csv_import_form" do %>
					<div>
						<label style="margin-bottom: -10px;">Import File</label>
						<%= file_field_tag :file, :style => "visibility:hidden; position: absolute; margin-top: 25px;", :id => "csvfile", :class => "required" %>
						<input type="file" name="file" style="visibility:hidden; position: absolute; margin-top: 25px;" id="csvfile" class="required" /><br/>
						<div class="input-append">
							<input type="text" name="subfile" id="subfile" class="input-xlarge" style="height: inherit;" readonly>
							<a href="javascript:;" class="btn" id="browse_btn">Browse</a>
						</div>
						<%= hidden_field_tag 'access_token', @lm.access_token %>
					</div>
					<button id="classrooms_import_btn" class="btn btn-primary">Import classroom</button>
					<button id="teachers_import_btn" class="btn btn-primary">Import teachers</button>
					<button id="students_import_btn" class="btn btn-primary">Import students</button>
					<button id="rosters_import_btn" class="btn btn-primary">Import rosters</button>
				<% end %>
			</div>
			<div class="csv_download_sample_file span4">
				<p style="position: absolute;">You can download CSV sample files
					<div class="dropdown" style="margin-left: 233px;">
						<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" style="color: blue; cursor: pointer;">
							here
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li><a href="/csv_file_datas/import_courses.csv" id="classrooms_download_btn" download>Download classroom file</a></li>
							<li><a href="/csv_file_datas/import_teachers.csv" id="teachers_download_btn">Download teacher file</a></li>
							<li><a href="/csv_file_datas/import_students.csv" id="students_download_btn">Download student file</a></li>
							<li><a href="/csv_file_datas/import_rosters.csv" id="rosters_download_btn">Download roster file</a></li>
						</ul>
					</div>
				</p>
			</div>
		</div>
	</div>
	<% end %>
</div>

<script>
	$(document).ready(function() {

		var lms_msg = "<%= flash[:lms_notice] %>";
		if (lms_msg != '') {
			setTimeout(function () {
				swal("Success", lms_msg, "success");
			}, 200);
		}

		$(".lm-delete-btn").click(function() {
			var url = $(this).attr('url');
			swal({
				title: "Are you sure?",
				type: "info",
				showCancelButton: true,
				confirmButtonColor: "#f35958",
				confirmButtonText: "Yes, delete it!",
				closeOnConfirm: false
			},
			function(){
				$('.confirm').attr('data-loading-text', 'Loading...');
				$('.confirm').button('loading');
				$.ajax({
					type: 'POST',
					url: url,
					data: {"_method":"delete"},
					success: function(data){
						$('.confirm').button('reset');
						setTimeout(function() {
							swal({
								title: "Finished",
								text: "Delete successfull.",
								type: "success",
								confirmButtonText: "Ok",
								closeOnConfirm: false
							},
							function() {
								window.location = "/lms";
							})
						}, 300);
					}
				});
			});
		});

		//CSV upload form
		$('#classrooms_import_btn').click(function() {
			var csv_import_form = $('#csv_import_form');
			csv_import_form.validate_popover({popoverPosition: 'top'});
			csv_import_form.validate();
			if(csv_import_form.valid()){
				var classrooms_url = "http://" + '<%= @lm.domain %>' + "/centralize_app_store/import_courses";
				$('#csv_import_form').attr('action', classrooms_url);
				csv_import_form.submit();
			}
		});

		$('#teachers_import_btn').click(function() {
			var csv_import_form = $('#csv_import_form');
			csv_import_form.validate_popover({popoverPosition: 'top'});
			csv_import_form.validate();
			if(csv_import_form.valid()){
				var teachers_url = "http://" + '<%= @lm.domain %>' + "/centralize_app_store/import_teachers";
				$('#csv_import_form').attr('action', teachers_url);
				csv_import_form.submit();
			}
		});

		$('#students_import_btn').click(function() {
			var csv_import_form = $('#csv_import_form');
			csv_import_form.validate_popover({popoverPosition: 'top'});
			csv_import_form.validate();
			if(csv_import_form.valid()){
				var students_url = "http://" + '<%= @lm.domain %>' + "/centralize_app_store/import_students";
				$('#csv_import_form').attr('action', students_url);
				csv_import_form.submit();
			}
		});

		$('#rosters_import_btn').click(function() {
			var csv_import_form = $('#csv_import_form');
			csv_import_form.validate_popover({popoverPosition: 'top'});
			csv_import_form.validate();
			if(csv_import_form.valid()){
				var sections_url = "http://" + '<%= @lm.domain %>' + "/centralize_app_store/import_rosters";
				$('#csv_import_form').attr('action', sections_url);
				csv_import_form.submit();
			}
		});

		$('#browse_btn').click(function() {
			$('#csvfile').click();
		})

		$('#csvfile').change(function(){
			$('#subfile').val($(this).val());
		});
	});

	$('.dropdown-toggle').dropdown()
</script>