<!DOCTYPE html>
<html>
<head>
	<title>gotoClassroom - Central APP Store for Learning Management System</title>
	<meta name="description" content="gotoClassroom - Central APP Store for Learning Management System" />
	<meta name="keywords" content="gotoClassroom, education, learning, online learning, learning management system, App Store for education, educational tools" />
	<meta name="author" content="" />
	<link type="image/x-icon" rel="icon" href="/assets/favicon.ico">
	<%= stylesheet_link_tag "developer", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "developer", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- Header -->
	<%= render :partial => "/shared/header" %>
	<!-- Header End -->
	<%= yield %>
	<!-- Footer -->
	<%= render :partial => "/shared/footer" %>
	<!-- Footer end -->
</body>
</html>
